id ICON "game.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "nxsie"
      VALUE "FileDescription", "Monsters of Second Night game executable"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "game"
      VALUE "LegalCopyright", "Dermoumi Said"
      VALUE "OriginalFilename", "game.exe"
      VALUE "ProductName", "m2n"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
